
{% extends 'index.twig' %}
{% block content %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<link rel="pingback" href="https://premium-rentcar.com/xmlrpc.php">

	
	<!-- This site is optimized with the Yoast SEO plugin v14.5 - https://yoast.com/wordpress/plugins/seo/ -->
	<title>Location de voiture en Tunisie à partir de 65 DT/J| Premium Rent Car</title>
	<meta name="description" content="Découvrez notre gamme de location voiture à Tunis, Bardo, Manouba et Bizerte. Réservez votre Location de voitures Tunisie : Seat IBIZA, Polo Sedan, clio 4." />
	<meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
	<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
	<link rel="canonical" href="https://premium-rentcar.com/vehicules/" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Location de voiture en Tunisie à partir de 65 DT/J| Premium Rent Car" />
	<meta property="og:description" content="Découvrez notre gamme de location voiture à Tunis, Bardo, Manouba et Bizerte. Réservez votre Location de voitures Tunisie : Seat IBIZA, Polo Sedan, clio 4." />
	<meta property="og:url" content="https://premium-rentcar.com/vehicules/" />
	<meta property="og:site_name" content="Premium Rent Car : Location voiture Tunisie" />
	<meta property="article:modified_time" content="2021-10-11T14:56:12+00:00" />
	<meta name="twitter:card" content="summary_large_image" />
	<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"https://premium-rentcar.com/#website","url":"https://premium-rentcar.com/","name":"Premium Rent Car : Location voiture Tunisie","description":"Location voiture \u00e0 Tunis, Bardo, Manouba et Bizerte","potentialAction":[{"@type":"SearchAction","target":"https://premium-rentcar.com/?s={search_term_string}","query-input":"required name=search_term_string"}],"inLanguage":"fr-FR"},{"@type":"WebPage","@id":"https://premium-rentcar.com/vehicules/#webpage","url":"https://premium-rentcar.com/vehicules/","name":"Location de voiture en Tunisie \u00e0 partir de 65 DT/J| Premium Rent Car","isPartOf":{"@id":"https://premium-rentcar.com/#website"},"datePublished":"2020-09-28T12:46:36+00:00","dateModified":"2021-10-11T14:56:12+00:00","description":"D\u00e9couvrez notre gamme de location voiture \u00e0 Tunis, Bardo, Manouba et Bizerte. R\u00e9servez votre Location de voitures Tunisie : Seat IBIZA, Polo Sedan, clio 4.","inLanguage":"fr-FR","potentialAction":[{"@type":"ReadAction","target":["https://premium-rentcar.com/vehicules/"]}]}]}</script>
	<!-- / Yoast SEO plugin. -->


<link rel='dns-prefetch' href='//code.ionicframework.com' />
<link rel='dns-prefetch' href='//use.fontawesome.com' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Premium Rent Car : Location voiture Tunisie &raquo; Flux" href="https://premium-rentcar.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Premium Rent Car : Location voiture Tunisie &raquo; Flux pour Véhicules" href="https://premium-rentcar.com/vehicules/feed/" />
<link rel='stylesheet' id='wc-block-vendors-style-css'  href='https://premium-rentcar.com/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style.css?ver=3.1.0' type='text/css' media='all' />
<link rel='stylesheet' id='wc-block-style-css'  href='https://premium-rentcar.com/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css?ver=3.1.0' type='text/css' media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css'  href='https://premium-rentcar.com/wp-content/plugins/revslider/public/assets/css/rs6.css?ver=6.2.23' type='text/css' media='all' />
<style id='rs-plugin-settings-inline-css' type='text/css'>
#rs-demo-id {}
</style>
<link rel='stylesheet' id='toggle-switch-css'  href='https://premium-rentcar.com/wp-content/plugins/woocommerce-deposits/assets/css/toggle-switch.css?ver=3.0' type='text/css' media='screen' />
<link rel='stylesheet' id='wc-deposits-frontend-styles-css'  href='https://premium-rentcar.com/wp-content/plugins/woocommerce-deposits/assets/css/style.css?ver=5.5.7' type='text/css' media='all' />
<style id='woocommerce-inline-inline-css' type='text/css'>
.woocommerce form .form-row .required { visibility: visible; }
</style>
<link rel='stylesheet' id='rental-quote-css'  href='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/css/quote-front.css?ver=5.5.7' type='text/css' media='all' />
<link rel='stylesheet' id='chosen-css'  href='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/css/chosen.css?ver=5.5.7' type='text/css' media='all' />
<link rel='stylesheet' id='rental-global-css'  href='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/css/rental-global.css?ver=5.5.7' type='text/css' media='all' />
<link rel='stylesheet' id='jquery.datetimepicker-css'  href='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/css/jquery.datetimepicker.css?ver=5.5.7' type='text/css' media='all' />
<link rel='stylesheet' id='sweetalert-css'  href='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/css/sweetalert.css?ver=5.5.7' type='text/css' media='all' />
<link rel='stylesheet' id='fontawesome.min-css'  href='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/css/fontawesome.min.css?ver=5.5.7' type='text/css' media='all' />
<link rel='stylesheet' id='ion-icon-css'  href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css?ver=5.5.7' type='text/css' media='all' />
<link rel='stylesheet' id='jquery.steps-css'  href='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/css/jquery.steps.css?ver=5.5.7' type='text/css' media='all' />
<link rel='stylesheet' id='rental-style-css'  href='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/css/rental-style.css?ver=5.5.7' type='text/css' media='all' />
<link rel='stylesheet' id='magnific-popup-css'  href='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/css/magnific-popup.css?ver=5.5.7' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-official-css'  href='https://use.fontawesome.com/releases/v5.15.0/css/all.css' type='text/css' media='all' integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous" />
<link rel='stylesheet' id='js_composer_front-css'  href='https://premium-rentcar.com/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=6.4.1' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css'  href='https://premium-rentcar.com/wp-content/themes/theme/css/bootstrap.min.css?ver=5.2.0' type='text/css' media='all' />
<link rel='stylesheet' id='woodmart-style-css'  href='https://premium-rentcar.com/wp-content/themes/theme/style.min.css?ver=5.2.0' type='text/css' media='all' />
<link rel='stylesheet' id='xts-style-default_header-css'  href='https://premium-rentcar.com/wp-content/uploads/2021/04/xts-default_header-1618825272.css?ver=5.2.0' type='text/css' media='all' />
<link rel='stylesheet' id='xts-style-theme_settings_default-css'  href='https://premium-rentcar.com/wp-content/uploads/2021/10/xts-theme_settings_default-1633094584.css?ver=5.2.0' type='text/css' media='all' />
<link rel='stylesheet' id='xts-google-fonts-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%7CPoppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=5.2.0' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-official-v4shim-css'  href='https://use.fontawesome.com/releases/v5.15.0/css/v4-shims.css' type='text/css' media='all' integrity="sha384-5n/9Fd2p7ahtSiRXNJvdHFBLSxGi8iHl40UQnv+8vQkYAy51mnqgf9JUmOC0fpkK" crossorigin="anonymous" />
<style id='font-awesome-official-v4shim-inline-css' type='text/css'>
@font-face {
font-family: "FontAwesome";
src: url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-brands-400.eot"),
		url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
		url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-brands-400.woff2") format("woff2"),
		url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-brands-400.woff") format("woff"),
		url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-brands-400.ttf") format("truetype"),
		url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
font-family: "FontAwesome";
src: url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-solid-900.eot"),
		url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
		url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-solid-900.woff2") format("woff2"),
		url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-solid-900.woff") format("woff"),
		url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-solid-900.ttf") format("truetype"),
		url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

@font-face {
font-family: "FontAwesome";
src: url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-regular-400.eot"),
		url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
		url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-regular-400.woff2") format("woff2"),
		url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-regular-400.woff") format("woff"),
		url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-regular-400.ttf") format("truetype"),
		url("https://use.fontawesome.com/releases/v5.15.0/webfonts/fa-regular-400.svg#fontawesome") format("svg");
unicode-range: U+F004-F005,U+F007,U+F017,U+F022,U+F024,U+F02E,U+F03E,U+F044,U+F057-F059,U+F06E,U+F070,U+F075,U+F07B-F07C,U+F080,U+F086,U+F089,U+F094,U+F09D,U+F0A0,U+F0A4-F0A7,U+F0C5,U+F0C7-F0C8,U+F0E0,U+F0EB,U+F0F3,U+F0F8,U+F0FE,U+F111,U+F118-F11A,U+F11C,U+F133,U+F144,U+F146,U+F14A,U+F14D-F14E,U+F150-F152,U+F15B-F15C,U+F164-F165,U+F185-F186,U+F191-F192,U+F1AD,U+F1C1-F1C9,U+F1CD,U+F1D8,U+F1E3,U+F1EA,U+F1F6,U+F1F9,U+F20A,U+F247-F249,U+F24D,U+F254-F25B,U+F25D,U+F267,U+F271-F274,U+F279,U+F28B,U+F28D,U+F2B5-F2B6,U+F2B9,U+F2BB,U+F2BD,U+F2C1-F2C2,U+F2D0,U+F2D2,U+F2DC,U+F2ED,U+F328,U+F358-F35B,U+F3A5,U+F3D1,U+F410,U+F4AD;
}
</style>
<script type="text/template" id="tmpl-variation-template">
	<div class="woocommerce-variation-description">{{{ data.variation.variation_description }}}</div>
	<div class="woocommerce-variation-price">{{{ data.variation.price_html }}}</div>
	<div class="woocommerce-variation-availability">{{{ data.variation.availability_html }}}</div>
</script>
<script type="text/template" id="tmpl-unavailable-variation-template">
	<p>Désolé, ce produit n&rsquo;est pas disponible. Veuillez choisir une combinaison différente.</p>
</script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp' id='jquery-core-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce-premium-rent-car/assets/js/ajax_call.js?ver=5.5.7' id='premium-form-ajax-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/revslider/public/assets/js/rbtools.min.js?ver=6.2.23' id='tp-tools-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/revslider/public/assets/js/rs6.min.js?ver=6.2.23' id='revmin-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-includes/js/underscore.min.js?ver=1.8.3' id='underscore-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/js/rnb-calendar.js?ver=5.5.7' id='rnb-calendar-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/js/rnb-template.js?ver=5.5.7' id='rnb-template-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/js/rnb-init.js?ver=5.5.7' id='rnb-init-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/js/chosen.jquery.js?ver=1' id='chosen.jquery-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/js/clone.js?ver=1' id='clone-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/js/jquery.datetimepicker.full.js?ver=1' id='jquery.datetimepicker.full-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/js/sweetalert.min.js?ver=1' id='sweetalert.min-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/js/jquery.steps.js?ver=1' id='jquery.steps-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/js/date.js?ver=1' id='date-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/js/jquery.flip.js?ver=1' id='jquery.flip-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/js/jquery.magnific-popup.min.js?ver=1' id='magnific-popup-js'></script>
<script type='text/javascript' id='front-end-scripts-js-extra'>
/* <![CDATA[ */
var CALENDAR_DATA = {"availability":[],"calendar_props":{"settings":{"general":{"lang_domain":"","months":false,"weekdays":false,"instance_pay":"","total_days":"Total jours","total_hours":"Total heures","payment_due":"Reste \u00e0 payer","attribute_tab":"OPTIONS","feature_tab":"\u00c9QUIPEMENTS","rfq_user_pass":"yes","day_of_week_start":1,"holidays":""},"labels":{"pickup_location":"Point de retrait","pickup_loc_placeholder":"Point de retrait","return_location":"Co\u00fbt de la Location dropoff","return_loc_placeholder":"Co\u00fbt de la Location dropoff","pickup_datetime":"Date","pickup_date":"Date de location","pickup_time":"Heure de location","return_datetime":"Date de retour","return_date":"Date de retour","return_time":"Heure de retour","resource":"Contenus","categories":"Cat\u00e9gories","adults":"Adultes","adults_placeholder":"Choisissez des adultes","childs":"Enfants","childs_placeholder":"Choisir","deposite":"Caution"},"displays":{"pickup_date":"open","pickup_time":"open","return_date":"open","return_time":"open","quantity":"closed","flip_box":"open","discount":"open","instance_payment":"open","rfq":"closed","book_now":"open"},"conditions":{"blockable":"yes","date_format":"d\/m\/Y","time_format":"24-hours","euro_format":"yes","max_time_late":"0","pay_extra_hours":"yes","single_day_booking":"open","max_book_days":"","min_book_days":"","pre_block_days":"","before_block_days":"","post_block_days":"","time_interval":"30","show_price_type":"daily","booking_layout":"layout_one","weekends":[],"allowed_times":[]},"validations":{"pickup_location":"open","return_location":"open","pickup_time":"open","return_time":"open","person":"closed","openning_closing":{"fri":{"min":"00:00","max":"24:00"},"sat":{"min":"00:00","max":"24:00"},"sun":{"min":"00:00","max":"24:00"},"mon":{"min":"00:00","max":"24:00"},"thu":{"min":"00:00","max":"24:00"},"wed":{"min":"00:00","max":"24:00"},"thur":{"min":"00:00","max":"24:00"}}},"layout_two_labels":{"inventory":{"inventory_top_heading":false,"inventory_top_desc":false,"inventory_inner_heading":false,"inventory_inner_desc":false},"datetime":{"date_top_heading":false,"date_top_desc":false,"date_inner_heading":false,"date_inner_desc":false},"location":{"location_top_heading":false,"location_top_desc":false,"location_inner_heading":false,"location_inner_desc":false},"resource":{"resource_top_heading":false,"resource_top_desc":false,"resource_inner_heading":false,"resource_inner_desc":false},"person":{"person_top_heading":false,"person_top_desc":false,"person_inner_heading":false,"person_inner_desc":false},"deposit":{"deposit_top_heading":false,"deposit_top_desc":false,"deposit_inner_heading":false,"deposit_inner_desc":false},"resources":[]}}},"block_dates":[],"woocommerce_info":{"symbol":"DT","currency":"TND","thousand":",","decimal":".","number":2,"position":"right_space"},"allowed_datetime":[],"localize_info":{"domain":"","months":false,"weekdays":false},"translated_strings":{"invalid_range_notice":"Invalid Date Range","max_day_notice":"Max Rental Days","min_day_notice":"Min Rental Days","quantity_notice":"Quantity is not available","quote_user_name":"User name field is required","quote_password":"Password field is required","quote_first_name":"First name field is required","quote_last_name":"Last name field is required","quote_email":"Quote email is required","quote_phone":"Phone is required","quote_message":"Message is required","positive_days":"No of days must be greater than 1 day","positive_hours":"Total hours must be greater than 0 hours","pickup_loc_required":"Pickup location is required","dropoff_loc_required":"Drop-off location is required","pickup_time_required":"Pickup time is required","dropoff_time_required":"Drop-off time is required","adult_required":"Adults is required","child_required":"Child is required","email_validation_message":"Email Must be valid & required!","phone_validation_message":"Phone number must be valid & required!"},"buffer_days":[],"quantity":"1","ajax_url":"https:\/\/premium-rentcar.com\/wp-admin\/admin-ajax.php","pick_up_locations":{"data":[{"id":78,"title":"Agence Bizerte","slug":"agence-bizerte","address":"Agence Bizerte","cost":0,"lat":"","lon":""},{"id":45,"title":"Agence Centre ville","slug":"agence-centre-ville","address":"Agence Centre ville","cost":0,"lat":"","lon":""},{"id":77,"title":"Agence Manouba","slug":"agence-manouba","address":"Agence Manouba","cost":0,"lat":"","lon":""},{"id":44,"title":"L'a\u00e9roport Tunis-Carthage","slug":"laeroport-tunis-carthage","address":"L'a\u00e9roport Tunis-Carthage","cost":0,"lat":"","lon":""}],"title":"Point de retrait","placeholder":"Point de retrait","layout":"layout_one"},"return_locations":{"data":[],"title":"Co\u00fbt de la Location dropoff","placeholder":"Co\u00fbt de la Location dropoff","layout":"layout_one"},"resources":{"data":[{"id":63,"resource_name":"Conducteur suppl\u00e9mentaire","resource_slug":"conducteur-supplementaire","resource_cost":"25","resource_applicable":"per_day","resource_hourly_cost":0,"extra_meta":"<span class=\"pull-right show_if_day\"><span class=\"woocommerce-Price-amount amount\"><bdi>25.00&nbsp;<span class=\"woocommerce-Price-currencySymbol\">DT<\/span><\/bdi><\/span><span>- Par jour<\/span><\/span>\n\t\t\t\t<span class=\"pull-right show_if_time\" style=\"display: none;\"><span class=\"woocommerce-Price-amount amount\"><bdi>0.00&nbsp;<span class=\"woocommerce-Price-currencySymbol\">DT<\/span><\/bdi><\/span> - Par Heure<\/span>"},{"id":41,"resource_name":"Si\u00e9g\u00e9 b\u00e9b\u00e9","resource_slug":"siege-bebe","resource_cost":"30","resource_applicable":"one_time","resource_hourly_cost":0,"extra_meta":"<span class=\"pull-right\"><span class=\"woocommerce-Price-amount amount\"><bdi>30.00&nbsp;<span class=\"woocommerce-Price-currencySymbol\">DT<\/span><\/bdi><\/span> - Une Fois<\/span>"},{"id":42,"resource_name":"Syst\u00e8me de Navigation GPS","resource_slug":"gps","resource_cost":"35","resource_applicable":"one_time","resource_hourly_cost":0,"extra_meta":"<span class=\"pull-right\"><span class=\"woocommerce-Price-amount amount\"><bdi>35.00&nbsp;<span class=\"woocommerce-Price-currencySymbol\">DT<\/span><\/bdi><\/span> - Une Fois<\/span>"}],"title":"Contenus"},"categories":{"data":[],"title":"Cat\u00e9gories"},"adults":{"data":[],"title":"Adultes","placeholder":"Choisissez des adultes"},"childs":{"data":[],"title":"Enfants","placeholder":"Choisir"},"deposits":{"data":[{"id":18,"security_deposite_name":"Caution","security_deposite_slug":"caution","security_deposite_cost":"1000","security_deposite_applicable":"one_time","security_deposite_clickable":"","security_deposite_hourly_cost":0,"extra_meta":"<span class=\"pull-right\"><span class=\"woocommerce-Price-amount amount\"><bdi>1,000.00&nbsp;<span class=\"woocommerce-Price-currencySymbol\">DT<\/span><\/bdi><\/span> - Une Fois<\/span>"}],"title":"Caution"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/js/main-script.js?ver=1' id='front-end-scripts-js'></script>
<script type='text/javascript' id='rnb-rfq-js-extra'>
/* <![CDATA[ */
var RFQ_DATA = {"ajax_url":"https:\/\/premium-rentcar.com\/wp-admin\/admin-ajax.php","translated_strings":{"invalid_range_notice":"Invalid Date Range","max_day_notice":"Max Rental Days","min_day_notice":"Min Rental Days","quantity_notice":"Quantity is not available","quote_user_name":"User name field is required","quote_password":"Password field is required","quote_first_name":"First name field is required","quote_last_name":"Last name field is required","quote_email":"Quote email is required","quote_phone":"Phone is required","quote_message":"Message is required","positive_days":"No of days must be greater than 1 day","positive_hours":"Total hours must be greater than 0 hours","pickup_loc_required":"Pickup location is required","dropoff_loc_required":"Drop-off location is required","pickup_time_required":"Pickup time is required","dropoff_time_required":"Drop-off time is required","adult_required":"Adults is required","child_required":"Child is required","email_validation_message":"Email Must be valid & required!","phone_validation_message":"Phone number must be valid & required!"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/js/rnb-rfq.js?ver=1' id='rnb-rfq-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/js/rnb-validation.js?ver=1' id='rnb-validation-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/themes/theme/js/device.min.js?ver=5.2.0' id='woodmart-device-js'></script>
<link rel="https://api.w.org/" href="https://premium-rentcar.com/wp-json/" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://premium-rentcar.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://premium-rentcar.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.5.7" />
<meta name="generator" content="WooCommerce 4.5.3" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2TPCCYD167"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2TPCCYD167');
</script>
<body>
<div class="main-page-wrapper">
<div class="container">
<div class="nav-shop">
<div class="shop-title-wrapper">
<h1  class="entry-title">List of cars</h1>

<div class="woodmart-show-categories"><a href="#">Categories</a></div><ul class="woodmart-product-categories has-product-count"><li class="cat-link shop-all-link"><a class="category-nav-link" href="https://premium-rentcar.com/vehicules/">
<span class="category-summary">
<span class="category-name">All</span>
<span class="category-products-count">
<span class="cat-count-label">véhicules</span>
</span>
</span>
				
</div></div></div></div>
 {% for item in cars %} 
<div class="woodmart-active-filters">
	</div>

<div class="woodmart-shop-loader"></div>			
<div class="products elements-grid align-items-start woodmart-products-holder  elements-list pagination-pagination row grid-columns-3" data-source="main_loop" data-min_price="" data-max_price="">							
<div class="product-grid-item product product-no-swatches product-list-item  col-12 first  last  type-product post-639 status-publish first instock product_cat-intermediaire has-post-thumbnail shipping-taxable purchasable product-type-redq_rental" data-loop="1" data-id="639">

	
	<div class="product-wrapper">
		<div class="product-element-top">
			<a href="https://premium-rentcar.com/vehicule/polo-sedan-69/" class="product-image-link">
				<img width="223" height="112" src="https://premium-rentcar.com/wp-content/uploads/2021/03/unnamed-223x112.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy"  sizes="(max-width: 223px) 100vw, 223px" />			</a>
						<div class="woodmart-buttons wd-pos-r-t">
															</div> 
						<div class="quick-shop-wrapper">
				<div class="quick-shop-close wd-cross-button wd-size-s wd-with-text-left"><span>Close</span></div>
				<div class="quick-shop-form">
				</div>
			</div>
				</div>

		<div class="product-list-content">
			<h3 class="product-title">{{item.name}}</a></h3>									
	<span class="price"><span class="amount rnb_price_unit_639">From:<span class="_price">{{item.price}}</span><span class="currency">DT</span><span class="par">Unit Price</span></span></span>
									
			
						<div class="info_vehicule">
				<p>Color: </p>
				<div class="item-extras">
					<ul class="attributes">
						<li class="checked">{{item.color}}</li>

					</ul>
				</div>
							<p>Registered: </p>
				<div class="item-extras">
					<ul class="attributes">
						<li class="checked">{{item.registered}}</li>

					</ul>
				</div>
			</div>
		  <a href="/cars/update/{{item._id}}" >Edit
        <a href="/cars/delete/{{item._id}}" >remove

		</div>
	</div>

</div>	

	<div class="product-grid-item product product-no-swatches product-list-item  col-12 first  last  type-product post-1282 status-publish last instock product_cat-economique has-post-thumbnail shipping-taxable purchasable product-type-redq_rental" data-loop="4" data-id="1282">
 {% endfor %} 
<div class="woodmart-close-side"></div>
			<div class="cart-widget-side">
				<div class="widget-heading">
					<h3 class="widget-title">Shopping cart</h3>
					<a href="#" class="close-side-widget wd-cross-button wd-with-text-left">close</a>
				</div>
				<div class="widget woocommerce widget_shopping_cart"><div class="widget_shopping_cart_content"></div></div>			</div>
			<script type="text/javascript">
		var c = document.body.className;
		c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
		document.body.className = c;
	</script>
	<script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/premium-rentcar.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.2.2' id='contact-form-7-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70' id='jquery-blockui-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4' id='js-cookie-js'></script>
<script type='text/javascript' id='woocommerce-js-extra'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=4.5.3' id='woocommerce-js'></script>
<script type='text/javascript' id='wc-cart-fragments-js-extra'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_7a49575d044023db7d99ef37285f46cf","fragment_name":"wc_fragments_7a49575d044023db7d99ef37285f46cf","request_timeout":"5000"};
/* ]]> */
</script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=4.5.3' id='wc-cart-fragments-js'></script>
<script type='text/javascript' id='quote-handle-js-extra'>
/* <![CDATA[ */
var REDQ_MYACCOUNT_API = {"ajax_url":"https:\/\/premium-rentcar.com\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce-rental-and-booking/assets/js/quote.js?ver=5.5.7' id='quote-handle-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce/assets/js/accounting/accounting.min.js?ver=0.4.2' id='accounting-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=6.4.1' id='wpb_composer_front_js-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-includes/js/imagesloaded.min.js?ver=4.1.4' id='imagesloaded-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/themes/theme/js/owl.carousel.min.js?ver=5.2.0' id='woodmart-owl-carousel-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/themes/theme/js/jquery.tooltips.min.js?ver=5.2.0' id='woodmart-tooltips-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/themes/theme/js/jquery.magnific-popup.min.js?ver=5.2.0' id='woodmart-magnific-popup-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/themes/theme/js/waypoints.min.js?ver=5.2.0' id='woodmart-waypoints-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/themes/theme/js/jquery.nanoscroller.min.js?ver=5.2.0' id='woodmart-nanoscroller-js'></script>
<script type='text/javascript' id='woodmart-theme-js-extra'>
/* <![CDATA[ */
var woodmart_settings = {"variation_gallery_storage_method":"old","elementor_no_gap":"enabled","adding_to_cart":"Processing","added_to_cart":"Product was successfully added to your cart.","continue_shopping":"Continue shopping","view_cart":"View Cart","go_to_checkout":"R\u00e9servation","loading":"Loading...","countdown_days":"days","countdown_hours":"hr","countdown_mins":"min","countdown_sec":"sc","cart_url":"https:\/\/premium-rentcar.com\/panier\/","ajaxurl":"https:\/\/premium-rentcar.com\/wp-admin\/admin-ajax.php","add_to_cart_action":"nothing","added_popup":"no","categories_toggle":"yes","enable_popup":"no","popup_delay":"2000","popup_event":"time","popup_scroll":"1000","popup_pages":"0","promo_popup_hide_mobile":"yes","product_images_captions":"no","ajax_add_to_cart":"0","all_results":"View all results","product_gallery":{"images_slider":true,"thumbs_slider":{"enabled":false,"position":"without","items":{"desktop":4,"tablet_landscape":3,"tablet":4,"mobile":3,"vertical_items":3}}},"zoom_enable":"no","ajax_scroll":"yes","ajax_scroll_class":".main-page-wrapper","ajax_scroll_offset":"100","infinit_scroll_offset":"300","product_slider_auto_height":"no","price_filter_action":"click","product_slider_autoplay":"","close":"Close (Esc)","share_fb":"Share on Facebook","pin_it":"Pin it","tweet":"Tweet","download_image":"Download image","cookies_version":"1","header_banner_version":"1","promo_version":"1","header_banner_close_btn":"1","header_banner_enabled":"","whb_header_clone":"\n    <div class=\"whb-sticky-header whb-clone whb-main-header <%wrapperClasses%>\">\n        <div class=\"<%cloneClass%>\">\n            <div class=\"container\">\n                <div class=\"whb-flex-row whb-general-header-inner\">\n                    <div class=\"whb-column whb-col-left whb-visible-lg\">\n                        <%.site-logo%>\n                    <\/div>\n                    <div class=\"whb-column whb-col-center whb-visible-lg\">\n                        <%.main-nav%>\n                    <\/div>\n                    <div class=\"whb-column whb-col-right whb-visible-lg\">\n                        <%.woodmart-header-links%>\n                        <%.search-button:not(.mobile-search-icon)%>\n\t\t\t\t\t\t<%.woodmart-wishlist-info-widget%>\n                        <%.woodmart-compare-info-widget%>\n                        <%.woodmart-shopping-cart%>\n                        <%.full-screen-burger-icon%>\n                    <\/div>\n                    <%.whb-mobile-left%>\n                    <%.whb-mobile-center%>\n                    <%.whb-mobile-right%>\n                <\/div>\n            <\/div>\n        <\/div>\n    <\/div>\n","pjax_timeout":"5000","split_nav_fix":"","shop_filters_close":"no","woo_installed":"1","base_hover_mobile_click":"no","centered_gallery_start":"1","quickview_in_popup_fix":"","disable_nanoscroller":"enable","one_page_menu_offset":"150","hover_width_small":"1","is_multisite":"","current_blog_id":"1","swatches_scroll_top_desktop":"","swatches_scroll_top_mobile":"","lazy_loading_offset":"0","add_to_cart_action_timeout":"no","add_to_cart_action_timeout_number":"3","single_product_variations_price":"no","google_map_style_text":"Custom style","quick_shop":"yes","sticky_product_details_offset":"150","preloader_delay":"300","comment_images_upload_size_text":"Some files are too large. Allowed file size is 1 Mo.","comment_images_count_text":"You can upload up to 3 images to your review.","comment_images_upload_mimes_text":"You are allowed to upload images only in png, jpeg formats.","comment_images_added_count_text":"Added %s image(s)","comment_images_upload_size":"1048576","comment_images_count":"3","comment_images_upload_mimes":{"jpg|jpeg|jpe":"image\/jpeg","png":"image\/png"},"home_url":"https:\/\/premium-rentcar.com\/","shop_url":"https:\/\/premium-rentcar.com\/vehicules\/","age_verify":"no","age_verify_expires":"30","cart_redirect_after_add":"yes","swatches_labels_name":"no","product_categories_placeholder":"S\u00e9lectionner une cat\u00e9gorie","product_categories_no_results":"No matches found","cart_hash_key":"wc_cart_hash_7a49575d044023db7d99ef37285f46cf","fragment_name":"wc_fragments_7a49575d044023db7d99ef37285f46cf"};
/* ]]> */
</script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/themes/theme/js/functions.min.js?ver=5.2.0' id='woodmart-theme-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/themes/theme/js/jquery.pjax.min.js?ver=5.2.0' id='woodmart-pjax-js'></script>
<script type='text/javascript' id='wp-util-js-extra'>
/* <![CDATA[ */
var _wpUtilSettings = {"ajax":{"url":"\/wp-admin\/admin-ajax.php"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-includes/js/wp-util.min.js?ver=5.5.7' id='wp-util-js'></script>
<script type='text/javascript' id='wc-add-to-cart-variation-js-extra'>
/* <![CDATA[ */
var wc_add_to_cart_variation_params = {"wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_no_matching_variations_text":"D\u00e9sol\u00e9, aucun produit ne r\u00e9pond \u00e0 vos crit\u00e8res. Veuillez choisir une combinaison diff\u00e9rente.","i18n_make_a_selection_text":"Veuillez s\u00e9lectionner des options du produit avant de l\u2019ajouter \u00e0 votre panier.","i18n_unavailable_text":"D\u00e9sol\u00e9, ce produit n\u2019est pas disponible. Veuillez choisir une combinaison diff\u00e9rente."};
/* ]]> */
</script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.min.js?ver=4.5.3' id='wc-add-to-cart-variation-js'></script>
<script type='text/javascript' src='https://premium-rentcar.com/wp-includes/js/wp-embed.min.js?ver=5.5.7' id='wp-embed-js'></script>


</div></body>
{% endblock %}
